html, body {
  height: 100%
}

body {
    display: flex;
    flex-direction: column;
}


#willkommen {
    background-color: #313131;
    word-spacing: 3px;
    color: #75B7DE;
	height:25vh;
	}

#form {
	background-color: whitesmoke;
}


.form-signin {
	width: 100%;
	max-width: 330px;
	/* [disabled]padding: inherit; */
	margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#footer {
	display: inline-flex;
	flex-direction: row;
	align-content: center;
	height: 10vh;
	position: relative;
	text-align: center;
	margin-top: 25px;
	/* [disabled]margin-right: 25px; */
	/* [disabled]margin-left: 25px; */
	margin-bottom: 25px;
	color: #313131;
	background-color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: droid-sans;
}

ul {
    list-style: none;
}

.form-signin .form-control:focus {
	z-index: 2;
	margin-top: 0px;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

h1 {
	/* [disabled]margin-top: 5px; */
	/* [disabled]margin-right: 5px; */
	/* [disabled]margin-left: 5px; */
	/* [disabled]margin-bottom: 5px; */
	padding: 40px;
	font-family: ubuntu-condensed;
	font-variant: small-caps;
	font-weight: 400;
	float: none;
	text-align: center;
}


a {
	color: #313131;
}

a:hover {
	text-decoration: none;
	font-style: italic;
}
